@font-face {
    font-family: slayer;
    src: url(bloodcrow.ttf);
}

*{
margin: 0;
 padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: black;
    padding: 10px 10px;
}

section{
    height: 450px;
    flex-grow: 1;
    border-radius: 10px;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-size: cover;
    background-position: center;
}

section:hover{
    flex-grow: 2;

}

section:nth-child(1){
    background-image: url(tengen.jpg);
}
section:nth-child(2){
    background-image: url(zinitsu.jpg);
}
section:nth-child(3){
    background-image: url(tanjiro11.jpg);
}
section:nth-child(4){
    background-image: url(zinitsu11.jpg);
}
section:nth-child(5){
    background-image: url(kujiro.jpg);
}

header{
    background-color: black;
}

h1{
    color: transparent;
    background-image: url(https://i.pinimg.com/originals/ec/35/fd/ec35fd09f1402cf4828c617d30096487.gif);
    font-family: slayer;
    text-align: center;
    padding: 15px;
    font-size: 40px;
    background-clip: text;
    background-position: bottom;
    background-size: cover;
    -webkit-text-stroke: 0.1px red;
}






